<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Usi4Biz</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
		    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Usi4Biz</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <h2>Issues</h2>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="text" class="form-control" placeholder="Issue">
                    </div>

                    <select class="form-control">
                        <option value="">15.10.1.0</option>
                        <option value="">15.10.2.0</option>
                    </select>

                    <select class="form-control">
                        <option value="PLANNED">Planned</option>
                        <option value="UNPLANNED">Unplanned</option>
                        <option value="UNPLANNED_APPROVED">Unplanned but Approved</option>
                    </select>


                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>

        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
