{% extends "usi4biz/views/templates/layout.html" %}
{% block style %}
<link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/css/bootstrap-timepicker.min.css">
{% endblock %}
{% block content %}
<h2>Issue</h2>
<form action="/issues" method="POST">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="name">Reference</label>
            <input type="text" name="reference" id="reference" class="form-control" value="{{ issue.reference }}"></input>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ issue.name }}"></input>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control">{{ issue.description }}</textarea>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="product">Product</label>
            <select name="product" id="product" class="form-control">
              <option value="">Products...</option>
              {% for product in products %}
                <option value="{{ product.id }}" {% ifequal product.id issue.product %}selected{% endifequal %}>{{ product.name }} - {{ product.acronym }}</option>
              {% endfor %}
            </select>
            <p class="help-block-red">{{ error-product }}.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="product">Milestone</label>
            <select name="milestone" id="milestone" class="form-control">
              <option value="">Milestones...</option>
              {% for milestone in milestones %}
                <option value="{{ milestone.id }}" {% ifequal milestone.id issue.milestone %}selected{% endifequal %}>{{ milestone.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="product">Assignee</label>
            <select name="assignee" id="assignee" class="form-control">
              <option value="">Assignees...</option>
              {% for assignee in assignees %}
                <option value="{{ assignee.id }}" {% ifequal assignee.id issue.assignee %}selected{% endifequal %}>{{ assignee.first_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="name">Priority</label><br>
          <label class="radio-inline">
            <input type="radio" name="priority" id="priority-important" value="{{ priority-types.IMPORTANT }}" {% ifequal issue.priority "IMPORTANT" %}checked{% endifequal %}> Important
          </label>
          <label class="radio-inline">
            <input type="radio" name="priority" id="priority-essential" value="{{ priority-types.ESSENTIAL }}" {% ifequal issue.priority "ESSENTIAL" %}checked{% endifequal %}> Essential
          </label>
          <label class="radio-inline">
            <input type="radio" name="priority" id="priority-blocking" value="{{ priority-types.BLOCKING }}" {% ifequal issue.priority "BLOCKING" %}checked{% endifequal %}> Blocking
          </label>
        </div>
        <div class="col-md-6">
          <label for="name">Assigning Type</label><br>
          <label class="radio-inline">
            <input type="radio" name="assigning_type" id="assigning-planned" value="{{ assigning-types.PLANNED }}" {% ifequal issue.assigning_type "PLANNED" %}checked{% endifequal %}> Planned
          </label>
          <label class="radio-inline">
            <input type="radio" name="assigning_type" id="assigning-unplanned" value="{{ assigning-types.UNPLANNED }}" {% ifequal issue.assigning_type "UNPLANNED" %}checked{% endifequal %}> Unplanned
          </label>
          <label class="radio-inline">
            <input type="radio" name="assigning_type" id="assigning-unplanned-approved" value="{{ assigning-types.UNPLANNED_APPROVED }}" {% ifequal issue.assigning_type "UNPLANNED_APPROVED" %}checked{% endifequal %}> Unplanned Approved
          </label>
        </div>
      </div>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Status</label>
                <select name="state" id="state" class="form-control">
                    <option value="{{ states.CREATED }}">{{ states.CREATED|title }}</option>
                    <option value="{{ states.ASSIGNED }}">{{ states.ASSIGNED|title }}</option>
                    <option value="{{ states.FINISHED }}">{{ states.FINISHED|title }}</option>
                    <option value="{{ states.CLOSED }}">{{ states.CLOSED|title }}</option>
                    <option value="{{ states.CANCELED }}">{{ states.CANCELED|title }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="name">When</label>
                <input type="text" name="set_date" id="set_date" class="form-control" value="{{ issue.set_date|date:"dd/MM/yyyy" }}"></input>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="start_sprint">at</label>
                <input type="text" name="set_date_time" id="set_date_time" class="form-control" value="{{ issue.set_date|date:"HH:mm" }}"></input>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <th>Status</th>
            <th>Date</th>
          </thead>
          <tbody>
            {% for state in issue-states %}
              <tr>
                <td>{{ state.state|title }}</td>
                <td>{{ state.set_date|date:"dd/MM/yyyy HH:mm" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
    </div>
  </div>
  <input type="hidden" name="id" value="{{ issue.id }}">
</form>
{% endblock %}

{% block script %}
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-timepicker.min.js"></script>
<script>
  $("#set_date").datepicker({
      format: "dd/mm/yyyy",
      autoclose: true
  });
  $('#set_date_time').timepicker({
    showMeridian: false
  });
</script>
{% endblock %}
