<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Usi4Biz</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
		    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Usi4Biz</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="/team">Team</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Backlog <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/products">Products</a></li>
                        <li><a href="/milestones">Milestones</a></li>
                        <li class="disabled"><a href="/issues">Issues</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Process <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="disabled"><a href="/processes">Processes</a></li>
                        <li class="disabled"><a href="/activities">Activities</a></li>
                        <li class="disabled"><a href="/checklists">Checklists</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="disabled"><a href="/users">Users</a></li>
                        <li class="disabled"><a href="/database">Database</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
