{% extends "usi4biz/views/templates/layout.html" %}
{% block content %}
<h2>Milestone</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <a href="/milestones/{{ milestone.id }}/form" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
    <a href="" class="btn btn-danger" id="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <b>Product</b>
          <p><a href="/products/{{ milestone.product }}">{{ milestone.product_name }}</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <b>Name</b>
          <p>{{ milestone.name }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <b>Type</b>
          <p>{{ milestone.type|title }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <b>Start Sprint</b>
          <p>{{ milestone.start_sprint|date:"dd/MM/yyyy HH:mm:ss" }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <b>Due Date</b>
          <p>{{ milestone.due_date|date:"dd/MM/yyyy" }}</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <b>Description</b>
      <p>{{ milestone.description }}</p>
    </div>
  </div>
</div>
<a href="/milestones?product={{ milestone.product }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
{% endblock %}
