{% extends "usi4biz/views/templates/layout.html" %}
{% block content %}
<h2>Person</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <b>Full Name</b>
          <p>{{ person.first_name }} {{ person.last_name }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <b>Email</b>
          <p>{{ person.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a href="/persons/{{ person.id }}/form" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
    <a href="#" class="btn btn-danger" id="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  </div>
</div>
{% endblock %}
