{% extends "usi4biz/views/templates/layout.html" %}
{% block content %}
<div class="page-header">
  <h1>Product</h1>
</div>
<form action="/products" method="POST">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="acronym">Acronym</label>
            <input type="text" name="acronym" id="acronym" class="form-control" value="{{ product.acronym }}"></input>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ product.name }}"></input>
            <p class="help-block-red">{{ error-name }}.</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control">{{ product.description }}</textarea>
      </div>
      <input type="hidden" name="id" value="{{ product.id }}">
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
    </div>
  </div>
</form>
{% endblock %}
