{% extends "usi4biz/views/templates/layout.html" %}
{% block content %}
<h2>Products</h2>
<form>
  <a href="/products/new" class="btn btn-default pull-right">New...</a>
</form>
<table class="table table-striped table-hover">
  <thead>
    <th>Acronym</th>
    <th>Name</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.acronym }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.descrition }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
