{% extends "usi4biz/views/templates/layout.html" %}
{% block content %}
<h2>Product</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <b>Acronym</b>
          <p>{{ product.acronym }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <b>Name</b>
          <p>{{ product.name }}</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <b>Repository</b>
          <p>{{ product.repository }}</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <b>Description</b>
      <p>{{ product.description }}</p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Issues</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Issue</th>
            </tr>
          </thead>
          <tbody>
            {% for issue in issues %}
              <tr>
                <td>{{ issue }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a href="/products/{{ product.id }}/form" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
    <a href="/products/{{ product.id }}/presentation" class="btn btn-info"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Start Presentation</a>
    <a href="#" class="btn btn-danger" id="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
  </div>
</div>
{% endblock %}
